$background-image: url('images/mountains.jpg');
$popup-background: url('images/globe.gif');
$light-background: rgb(253, 249, 248);
$main-text-color: #454F55;
$font-family: 'Niramit', sans-serif;
$pink-color: #E38975;


@mixin display-flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

.popup {
  @include display-flex(column);
  position: absolute;
  z-index: 4;
  border: $pink-color solid 2px;
  background-color: $light-background;
  width: 900px;
  height: 600px;
  padding: 20px;
  left: 24%;
  top: 20%;
  h1 {
    font-size: 5.4rem;
    font-family: 'Nova Flat';
    opacity: 1;
    margin: 0;
    color: $pink-color;
  }
  button {
    width: 260px;
    height: 100px;
    font-size: 2rem;
  }
}

.App {
  background-image: $background-image;
  background-size: cover;
  font-family: $font-family;
}

.App-header {
  @include display-flex(row);
  background: $light-background;
  color:  $main-text-color;
  font-size: 1em;
  height: 120px;
  align-items: center;
}

.App-main {
  display: flex;
  flex-direction: row;
  height: 84vh;
  padding-top: 10%;
}

.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}



@import url('https://fonts.googleapis.com/css?family=Niramit');