@import "variables";

.popup {
  @include display-flex(column);
  background-color: $light-background;
  border: $pink-color solid 2px;
  color: $pink-color;
  font-size: 2rem;
  height: 100vh;
  padding: 20px;
  position: absolute;
  width: 100vw;
  z-index: 2;
  h1 {
    color: $pink-color;
    font-family: $header-font-family;
    font-size: 5.4rem;
    margin: 0;
    opacity: 1;
  }
  button {
    width: 230px;
    height: 80px;
    font-size: 1.6rem;
  }
}

.App {
  background-image: $background-image;
  background-size: cover;
  font-family: $font-family;
}

.App-header {
  @include display-flex(row);
  background: $light-background;
  color: $main-text-color;
  font-size: 1.2em;
  height: 120px;
  align-items: center;
}

.App-main {
  display: flex;
  flex-direction: row;
  min-height: 84vh;
  padding-top: 10%;
  overflow: hidden;
}

.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}