.App {
  text-align: center;
}

header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  height: 100px;
  justify-content: space-between;
}
