$main-text-color: #3D2412;


@mixin display-flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}


.card-header {
  @include display-flex(row);
  padding-top: 10px;
  width: 90%;
}

.card {
  @include display-flex(column);
  background-color: #B5834F;
  border-radius: 20px;
  height: 400px;
  width: 300px;
  padding: 4px;
  margin: 10px;
}

.country-info {
  @include display-flex(column);
  font-size: 1.1rem;
  width: 80%;
}

.country-flag {
  width: 35%
}

.country-name {
  margin-bottom: 0;
}

.continent-name {
  margin-top: 0;
}

.card-stats-container {
  @include display-flex(column);
  height: 80%;
  padding: 10px;
  font-size: 1.2rem;
}

.star-button, .delete-button {
  height: 30px;
  margin-top: 0;
  opacity: 1;
  transition: opacity .6s;
  width: 34px;
  border: 1px solid transparent;
  &:hover {
     opacity: .3;
  }
}

.star-button {
  color: white;
}

