@import "variables";

nav {
  @include display-flex(row);
  font-size: 1.6rem;
  font-weight: 600;
  min-width: 480px;
}

nav li {
  @include display-flex(row);
  height: 100%;
  list-style: none;
  opacity: 1;
  transition: opacity 0.6s;
  width: 110px;

  &:hover {
    cursor: pointer;
    opacity: 0.1;
  }
}

.filter-class {
  padding-left: 20px;
  padding-right: 30px;
  position: absolute;
  background-color: red;
  z-index: 1;
  top: 118px;
  background-color: $light-background;
  right: 0;
  width: 40%;
  display: flex;
  height: 100vh;
  width: 36vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  form {
    margin: 0px 20px 50px 0;
  }
  h3 {
    @include display-flex(row);
    height: 100px;
    min-height: 100px;
    width: 400px;
  }
  button {
    font-size: .8rem;
    width: 90px;
    height: 40px;
  }
}

.filtered-countries {
  list-style: none;
  width: 100%;
  font-size: 1.3rem;
  display: block;
  padding: 10px;
  li {
    margin: 4px;
  }

  span {
    font-weight: bold;
    margin: 16px;
    margin-bottom: 40px;
  }
}

.filter-form {
  @include display-flex(row);
  width: 100%;
  height: 100%;
  font-size: 20px;
}

input {
  height: 40px;
  font-size: 20px;
  margin: 10px;
}

.hidden {
  display: none;
}
