@import "variables";

form {
  align-items: center;
  display: flex;
  font-family: "Niramit", sans-serif;
  padding: 1% 0 1% 2%;
  width: 50%;
  min-width: 400px;
  margin: 0;
}

.input {
  border: none;
  color: black;
  font-size: 1em;
  height: 50px;
  margin-right: 10px;
  padding-left: 12px;
  width: 70%;
}

button {
  background-color: $pink-color;
  border: none;
  color: #bda27f;
  font-family: $font-family;
  font-size: 1em;
  font-weight: 700;
  height: 57px;
  margin: 10px;
  opacity: 1;
  transition: opacity 0.8s;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 40%;
}
